.overview {
    
    background-image: url(../../Assets/overview2.jpg);
    height: 100ch;
    /* height: 100cqi;
    height: 100cqmin; */


    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-repeat:no-repeat;
}


.overview-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 6rem;
}

.overview-container h1 {
    font-size: 60px;
    line-height: 75px;
    color: white;
    font-family: var(--font-family);
    margin-bottom: 2rem;
}

.overview-container button {
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 22px;
    border: 1px solid white;
    background-color: transparent;
    color: white;

}

.overview-container button:hover {
    background-color: white;
    color: black;
}

/* 
@media screen and (max-width: 1500px) {
    .overview-container {
        justify-content: left;
        align-items: left;
    }

    .overview-container h1 {
        font-size: 50px;
        line-height: 62px;
    }
}

@media screen and (max-width: 900px) {

    .overview-container h1 {
        font-size: 38px;
        line-height: 46px;
    }

    .overview-container button {
        font-size: 18px;
    }
}

@media screen and (max-width: 550px) {
    .overview-container h1 {
        font-size: 30px;
        line-height: 42px;
        margin-bottom: 1rem;
    }

    .overview-container button {
        font-size: 16px;
    }
}

@media screen and (max-width: 300px) {
    .overview-container h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .overview-container button {
        font-size: 14px;
    }
}

@media screen and (max-height: 800px) {
    .overview-container {
        top: 65%;
    }
}

@media screen and (max-height: 700px) {
    .overview-container {
        top: 60%;
    }
}

@media screen and (max-height: 550px) {
    .overview-img {
        height: 120vh;
    }
}

@media screen and (max-height: 350px) {
    .overview-img {
        height: 130vh;
    }
} */