.overview {

    background-image: url(../../Assets/overview2.jpg);
    height: 100vh;
    /* height: 100cqi;
    height: 100cqmin; */
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    justify-content: flex-end;
    align-items: center;

}


.overview-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 6rem;
}

.overview-container h1 {
    font-size: 60px;
    line-height: 75px;
    color: white;
    font-family: var(--font-family);
    margin-bottom: 2rem;
}

.overview-container button {
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 22px;
    border: 1px solid white;
    background-color: transparent;
    color: white;

}

.overview-container button:hover {
    background-color: white;
    color: black;
}


@media screen and (max-width: 1500px) {
    .overview-container {
        padding: 0rem 1rem;
        padding-bottom: 6rem;
    }

    .overview-container h1 {
        font-size: 48px;
        line-height: 62px;
    }
}

@media screen and (max-width: 990px) {
    .overview {
        height: 100ch;
    }

    .overview-container h1 {
        font-size: 32px;
        line-height: 42px;
    }
}

@media screen and (max-width: 550px) {

    /* .overview {
        background-image: url(../../Assets/overview2.jpg);

    } */
    .overview {
        justify-content: center;
    }

    .overview-container {
        padding: 0rem 1rem;
    }

    .overview-container h1 {
        font-size: 30px;
        line-height: 36px;
    }

    .overview-container button {
        font-size: 18px;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 400px) {
    .overview-container h1 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 1rem;
    }

    .overview-container button {
        font-size: 16px;
        padding: 0.3rem;
    }
}