.gpt4-update {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}

.gpt4_update_hr {
    height: 4px;
    width: 100%;
    background: linear-gradient(90deg, rgba(230, 59, 59, 1) 0%, rgba(109, 69, 207, 1) 56%, rgba(144, 230, 215, 1) 100%);
}

.gpt4_update_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.gpt4_update_heading h1 {
    color: rgb(255, 255, 255);
    font-family: var(--font-family);
    font-size: 32px;
    line-height: 42px;
    font-weight: 550;
}

.gpt4_update_heading a {
    font-family: var(--font-family);
    color: rgb(66, 80, 69);
    font-size: 16px;
}

.gpt4_update_heading a:hover {
    color: rgb(192, 111, 111);
}

.gpt4_update_container {
    display: flex;
    flex-direction: row;
    grid-gap: 1rem;
    width: 100%;
}

@media screen and (max-width:1300px) {
    .gpt4_update_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .gpt4_update_container {
        display: flex;
        flex-direction: column;
    }
}