.gpt4_feature {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.gpt4_feature_img {
    display: flex;
    justify-content: center;
}

.gpt4_feature_img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.gpt4_feature_contain {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.gpt4_feature_contain h1 {
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 32px;
    font-weight: 650;
    word-spacing: 0.1rem;
}
.gpt4_feature_contain a {
    text-decoration: none;
    color: white
}
.gpt4_feature_contain a:hover {
    color: rgb(216, 245, 240);
    text-decoration: underline;
    font-weight: 800;
}



.gpt4_feature_contain p {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(194, 189, 189);
}