.app {
    background: rgb(221, 226, 210);
    /* background: rgb(19, 58, 58); */
    background: #334a57;
    background: #466475;

    height: 100%;
    /* border-bottom: 0.01px solid rgb(209, 229, 218); */
    /* border-bottom: 0.01px solid red; */
}

.section-padding {
    /* padding: 0 4rem; */
    /* background-color: rgb(26, 35, 134); */
    /* border: 1px solid red; */
    /* margin-bottom: 1rem; */
}

.section_margin {
    /* margin-top: 2rem; */
    padding-top: 5rem;
    height: 100%;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}